<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a class="w3-button w3-block w3-black" routerLink="home">HOME</a>
    </div>
    <div class="w3-col s3">
      <a  class="w3-button w3-block w3-black" routerLink="personal">PERSONAL INFO</a>
    </div>
    <div class="w3-col s3">
      <a  class="w3-button w3-block w3-black" routerLink="adress">ADRESS INFO</a>
    </div>
    <div class="w3-col s3">
      <a class="w3-button w3-block w3-black" routerLink="resume">RESUME</a>
    </div>
  </div>
</div>

