<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata"/>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">
  <!-- About Container -->
  <div class="w3-container" id="about">
    <div class="w3-content" style="max-width: 700px">
      <h3 class="w3-center w3-padding-64">
        <br>
        <span class="w3-tag w3-wide">FRONTEND STAGE 4 TEST</span>
        <br>
        <span class="w3-tag w3-wide">ABOUT THAT GIRL</span>
      </h3>
      
      <img src="../../../assets/images/mood.jpg">
      <br>
      <p>
        That girl wakes up and meditates on a yoga mat facing the sun.
        That girl makes her bed, blends a kale and matcha smoothie to drink with her avocado toast,
        and follows it up with a well-curated journaling session.
        That girl is the queen of romanticizing her life — the girl who naturally has all her sh*t together.
      </p>
      <p>
        “That girl,” of course, isn’t any girl in particular, but a vaguely wellness-y archetype
        that’s risen in popularity on TikTok since April 2021. Videos with the hashtag #thatgirl
        have nearly 800 million views; many of these encourage the viewer to “become that girl”
        alongside the original poster or are part of multi-day journeys of achieving a state of “that girl.”
      </p>
      <div class="w3-panel w3-leftbar w3-light-grey">
        <p>
          <i>“You don’t need to become ‘that girl’” in order to “actually improve your life"</i>
        </p>
        <p> The journey of personal growth and knowledge that you’re
          looking after yourself are what make you “that girl” — not any specific aesthetic.</p>
      </div>

    </div>
  </div>
</div>
