.w3-sand {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}
.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/coffeehouse.jpg");
  min-height: 75%;
}
img{
  align-items: center;
  width: 100%;
  max-width: 1000px;
}
